# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\training_projects\REST_API_testing_Udemy\APIFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
